.backgroundImage {
	position: fixed;
	background: black url('../images/background.jpg') center no-repeat;
	background-size: cover;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: -20;
}

.bg-image-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	background-color: rgba(0,0,0,0.6);
	z-index: -10;
}